{% extends 'base.html' %}
{% block content %}
<style>
.sms-notification {
  background-color: #f2f2f2;
  border: 1px solid #ffa600;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.sms-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.sms-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.sms-subject {
  font-weight: bold;
  font-size: 22px;                                        
  color:#ffa600;
}

.sms-date {
  font-size: 14px;
  color: #aaa;
  margin-right: 50px;
}

.sms-body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

</style>
<div class="sms-notification">
  {% for notification in notifications %}
  <div class="sms-header">
    <p class="sms-subject">{{ notification.subject }}</p>
    <p class="sms-date">{{ notification.date }}</p>
  </div>
  <div class="sms-body">
    {{ notification.body|safe }}
  </div>
  {% endfor %}
</div>
{% endblock %}
